# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simplex
obj/*

#Parseur
parser/location.hh
parser/position.hh
parser/simplexLexer.cpp
parser/simplexParser.cpp
parser/simplexParser.hpp
parser/simplexParser.output
parser/stack.hh

tests/latex/*

# Codeblocks
*.cbp
*.layout

*~
